* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #000000;
    text-decoration: none;
    position: relative;
}

a:hover::after {
    width: 100%;
}

section {
    margin-bottom: 100px;
}

.site-header {
    background-color: transparent;
}

.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: auto;
    font-weight: 600;
}

.header-toggler .bar {
    display: block;
    width: 15px;
    height: 2px;
    border-radius: 15px;
    background-color: #ffffff;
    margin-bottom: 3px;
    transition: transform 0.3s linear;
}

.header-toggler.active .bar2 {
    display: none;
}

.header-toggler.active .bar1 {
    transform: rotate(45deg);
    transition: transform 0.3s linear;
}

.header-toggler.active .bar3 {
    transform: rotate(-45deg);
    transition: transform 0.3s linear;
}

.header-toggler.active .bar {
    margin-bottom: -4px;
    transition: transform 0.3s linear;
}

.site-logo {
    width: 100px;
    margin-right: 40px;
}

.primary-menu {
    height: 0;
}

.navbar-financial-flex {
    display: flex;
    align-items: baseline;
    width: 120px;
}

.navbar-financial {
    position: relative;
    top: -5px;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    display: block;
}

.navbar-financial::before,
.navbar-financial::after {
    content: "";
    position: absolute;
    bottom: 11px;
    height: 1px;
    border-bottom: 1px solid #ffffff38;
}

.navbar-financial::before {
    width: 510%;
    left: -510%;
}

.navbar-financial::after {
    width: 2985%;
    right: -3010%;
}

.navbar-financial-svg svg {
    width: 20px;
    height: 20px;
}

.navbar-financial-text p {
    font-size: 10px;
    margin-bottom: 0;
}

.header-navbar {
    position: absolute;
    left: -100%;
    top: 40px;
    height: 100vh;
    overflow-y: auto;
    width: 100%;
    transition: left 0.3s linear;
    font-family: 'Plus Jakarta Sans';
    background-color: #ffffff;
    z-index: 99;
}

.header-navbar.show {
    left: 0;
    top: -10px;
}

.header-navbar ul li a {
    color: #000000;
    font-weight: 400;
    font-family: 'Plus Jakarta Sans';
}

.header-navbar ul {
    width: 100%;
    padding: 0;
}

.header-navbar li {
    list-style: none;
    text-transform: capitalize;
    border-bottom: 1px solid #eeeff1;
}

.header-navbar li p {
    margin: 10px 0;
    margin-left: 25px;
}

.header-navbar a {
    text-decoration: none;
}

.header-navbar-head-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #EEEFF1;
    padding: 20px;
}

.header-navbar-head-logo svg {
    width: 101px;
    height: 26px;
}

.close-btn {
    border: none;
    background-color: transparent;
}

.close-btn svg {
    width: 20px;
    height: 20px;
    z-index: 20;
}

.in-touch-button {
    margin-top: 50px;
}

.in-touch-button button {
    background-color: #262b3f;
    border: none;
    margin: 10px;
    width: 300px;
    border-radius: 5px;
}

.in-touch-button a {
    color: #ffffff;
    font-family: 'Plus Jakarta Sans';
}

.in-touch-button button:hover {
    background-color: #1a1b20;
}

.in-touch-button a:hover {
    color: #cd5725;
}

.in-touch-button p {
    margin: 0;
    padding: 10px;
}

.text-arrow-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eeeff1;
}

.services-content,
.industry-content,
.insights-content,
.about-content,
.investors-content,
.globe-content {
    position: absolute;
    left: -640px;
    width: 100%;
    height: 600px;
    background: #ffffff;
    font-family: 'Plus Jakarta Sans';
    transition: all 0.8s ease;
}

.services-content.show-submenu {
    top: 0px;
    left: 0;
    z-index: 99;
}

.industry-content.show-submenu {
    top: -50px;
    left: 0;
    z-index: 99;
}

.insights-content.show-submenu {
    top: -100px;
    left: 0;
    z-index: 99;
}

.about-content.show-submenu {
    top: -140px;
    left: 0;
    z-index: 99;
}

.investors-content.show-submenu {
    top: -230px;
    left: 0;
    z-index: 99;
}

.globe-content.show-submenu {
    top: -270px;
    left: 0;
    z-index: 99;
}

.flex-text {
    font-size: 14px;
    font-weight: 400;
}

.flex-svg {
    margin-right: 20px
}

.sub-text-arrow-flex {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeff1;
    align-items: center;
}

.services-content-item-popup {
    position: absolute;
    background-color: white;
    height: 800px;
    left: -640px;
    width: 100%;
    transition: all 0.3s ease;
}

.services-content-item-popup.show {
    top: 0px;
    left: 0;
    z-index: 99;
}

.services-content-item-list li {
    padding-left: 15px;
}

.services-content-item-list li p {
    font-size: 14px;
    margin-left: 0;
}

.services-content-item-popup-text {
    font-size: 14px;
    font-weight: 400;
}

.services-content-item {
    margin-top: 20px;
    padding: 15px;
}

.services-text {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}

.services-button {
    width: 40px;
    border-bottom: solid 2px #f26223;
}

.button-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-svg {
    height: 20px;
    margin-left: 5px;
}

.services-button a {
    text-decoration: none;
}

.services-button a p {
    color: #f26223;
    text-transform: uppercase;
    font-size: 14px;
    width: max-content;
    margin-left: 0;
    margin-bottom: 0;
}

.service-in-touch-button {
    margin-top: 50px;
}

.service-in-touch-button button {
    background-color: #262b3f;
    border: none;
    margin: 10px;
    width: 300px;
    border-radius: 5px;
}

.service-in-touch-button button:hover {
    background-color: #1a1b20;
}

.service-in-touch-button a:hover {
    color: #cd5725;
}

.service-in-touch-button p {
    padding: 10px;
}

.industry-content-item-popup-text {
    padding-left: 25px;
    border-bottom: 1px solid #eeeff1;
}

.industry-content-item-popup-text p {
    font-size: 14px;
}

.industry-content-item {
    padding: 15px;
}

.industry-text {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}

.industry-button {
    width: 40px;
    border-bottom: solid 2px #f26223;
}

.industry-button a p {
    color: #f26223;
    text-transform: uppercase;
    font-size: 14px;
    width: max-content;
    margin-left: 0;
    margin-bottom: 0;
}

.industry-in-touch-button {
    width: max-content;
    margin: 50px auto;
}

.industry-in-touch-button button {
    background-color: #262b3f;
    border: none;
    margin: 10px;
    width: 300px;
    border-radius: 5px;
}

.industry-in-touch-button button:hover {
    background-color: #1a1b20;
}

.industry-in-touch-button a:hover {
    color: #cd5725;
}

.industry-in-touch-button p {
    padding: 10px;
}

.insights-content-item-popup-text {
    padding-left: 25px;
    border-bottom: 1px solid #eeeff1;
}

.insights-content-item-popup-text p {
    font-size: 14px;
}

.insights-content-item {
    padding: 15px;
}

.insights-text {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}

.insights-button {
    width: 40px;
    border-bottom: solid 2px #f26223;
}

.insights-button a p {
    color: #f26223;
    text-transform: uppercase;
    font-size: 14px;
    width: max-content;
    margin-left: 0;
    margin-bottom: 0;
}

.insights-in-touch-button {
    width: max-content;
    margin: 50px auto;
}

.insights-in-touch-button button {
    background-color: #262b3f;
    border: none;
    margin: 10px;
    width: 300px;
    border-radius: 5px;
}

.insights-in-touch-button button:hover {
    background-color: #1a1b20;
}

.insights-in-touch-button a:hover {
    color: #cd5725;
}

.insights-in-touch-button p {
    padding: 10px;
}

.about-content-item-popup-text {
    padding-left: 25px;
    border-bottom: 1px solid #eeeff1;
}

.about-content-item-popup-text p {
    font-size: 14px;
}

.about-in-touch-button {
    width: max-content;
    margin: 50px auto;
}

.about-in-touch-button button {
    background-color: #262b3f;
    border: none;
    margin: 10px;
    width: 300px;
    border-radius: 5px;
}

.about-in-touch-button button:hover {
    background-color: #1a1b20;
}

.about-in-touch-button a:hover {
    color: #cd5725;
}

.about-in-touch-button p {
    padding: 10px;
}

.careers-content-item-popup-text p {
    font-size: 14px;
}

.investors-content-item-popup-text {
    padding-left: 25px;
    border-bottom: 1px solid #eeeff1;
}

.investors-content-item-popup-text p {
    font-size: 14px;
}

.investors-content-item {
    margin-top: 20px;
    padding: 15px;
}

.investors-text {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}

.investors-button {
    width: 40px;
    border-bottom: solid 2px #f26223;
}

.investors-button a p {
    color: #f26223;
    text-transform: uppercase;
    font-size: 14px;
    width: max-content;
    margin-left: 0;
    margin-bottom: 0;
}

.investors-in-touch-button {
    width: max-content;
    margin: 50px auto;
}

.investors-in-touch-button button {
    background-color: #262b3f;
    border: none;
    margin: 10px;
    width: 300px;
    border-radius: 5px;
}

.investors-in-touch-button button:hover {
    background-color: #1a1b20;
}

.investors-in-touch-button a:hover {
    color: #cd5725;
}

.investors-in-touch-button p {
    padding: 10px;
}

.globe-content-item-popup-text {
    padding-left: 25px;
    border-bottom: 1px solid #eeeff1;
}

.globe-content-item-popup-text p {
    font-size: 14px;
    text-transform: uppercase;
}

.second-navbar {
    display: none;
}

.second-navbar ul li a {
    color: #000000;
    font-family: 'Plus Jakarta Sans';
}

.second-navbar ul {
    width: 100%;
}

.second-navbar li {
    list-style: none;
    text-transform: capitalize;
    border-bottom: solid 1px #f1f1f1;
}

.search-icon {
    padding: 0 15px;
    border-right: solid 1px #ffffff38;
    border-left: solid 1px #ffffff38;
}

.search-icon svg {
    width: 15px;
    height: 15px;
}

.tab a {
    text-decoration: none;
}

.globe-flex {
    display: flex;
    align-items: center;
}

.globe-text {
    margin: 0 3px;
}

.globe-text p {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 5px;
}

.tab {
    position: relative;
}

.header-globe-content {
    position: absolute;
    top: 100%;
    left: -90px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    display: none;
    box-shadow: 0 4px 8px #00000033;
    z-index: 100;
}

.tab:hover .globe-content {
    display: block;
}

.tab:hover .header-globe-content {
    display: block;
}

.globe-content-item {
    width: 205px;
    padding: 10px;
}

.globe-content-item-body {
    width: 128px;
}

.globe-content-item-body-text {
    text-transform: uppercase;
}

.globe-content-item-body a {
    color: #000000;
}

.globe-content-item-body a:hover {
    color: #cd5725;
    transition: 0.4s ease;
}

.video-banner-1 {
    position: relative;
    width: 320px !important;
    height: 500px !important;
    overflow: hidden;
}

.video-1 {
    width: 390px;
    height: 500px;
    object-fit: fill;
    display: block;
}

.video-banner-2 {
    position: relative;
    width: 320px !important;
    height: 500px !important;
    overflow: hidden;
}

.video-2 {
    width: 550px;
    height: 500px;
    object-fit: fill;
    display: block;
    transform: translateX(-40%);
}

.slick-next {
    right: 0px !important;
    top: 250px !important;
    background: url(../images/arrow-right.png) no-repeat center center !important;
    background-size: contain !important;
    width: 30px !important;
    height: 30px !important;
}

.slick-next:before {
    content: '' !important;
}

.slick-prev {
    left: 0px !important;
    top: 250px !important;
    background: url(../images/arrow-left.png) no-repeat center center !important;
    background-size: contain !important;
    width: 30px !important;
    height: 30px !important;
    z-index: 99;
}

.slick-prev:before {
    content: '' !important;
}

.banner-content-1 {
    position: absolute;
    top: 170px;
}

.banner-content-2 {
    position: absolute;
    top: 200px;
}

.banner-content {
    background-color: transparent;
    padding: 20px;
}

.banner-heading h2 {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
}

.banner-text p {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Plus Jakarta Sans';
}

.banner-2-text p {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Plus Jakarta Sans';
}

.banner-button {
    margin-top: 30px;
    width: max-content;
}

.banner-button button {
    border: none;
    padding: 8px 30px;
    width: 200px;
    border-radius: 5px;
}

.banner-button a {
    text-decoration: none;
    color: #000000;
}

.banner-button p {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}

.success-flex {
    display: flex;
    flex-direction: column;
}

.success-content-left {
    padding: 10px;
}

.content-left-heading h2 {
    font-size: 26px;
    font-weight: 400;
    color: #262b3f;
    font-family: 'Plus Jakarta Sans';
}

.content-left-text {
    font-size: 14px;
    margin-top: 30px;
    font-family: 'Plus Jakarta Sans';
}

.success-content-right {
    padding: 10px;
    margin-top: 30px;
}

.content-right-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.right-content-heading h2 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Plus Jakarta Sans';
}

.right-content-text {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'Plus Jakarta Sans';
}

.brands {
    text-align: center;
}

.brands-text {
    font-size: 21px;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans';
}

.brand-img img {
    margin: 0px auto;
}

.our-services {
    text-align: center;
    overflow: hidden;
}

.our-services-heading-content {
    position: relative;
    padding-bottom: 20px;
}

.our-services-heading h2 {
    font-size: 36px;
    font-weight: 700;
    width: max-content;
    margin: 0 auto;
    text-transform: capitalize;
    font-family: 'Plus Jakarta Sans';
    background: -webkit-linear-gradient(348deg, #000000 15%, #FC66BD 24%, #FFC5E3 22%, #000000 30%, #000000 40%, #28E5FF 46%, #0064DA 50%, #000000 50%, #000000 68%, #FF31A1 78%, #000000 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.5s ease;
}

.our-services-img-1 {
    display: none;
}

.our-services-img-2 {
    display: none;
}

.our-services-img-3 {
    display: none;
}

.our-services-img-4 {
    display: none;
}

.our-services-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    position: relative;
    top: 80px;
    left: 140px;
    transform: translate(-50%, -50%);
    height: 160px;
    overflow: hidden;
    font-family: 'Plus Jakarta Sans';
    line-height: 40px;
    margin: 0 auto;
    width: 280px;
}

.our-services-heading-content-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 43px;
}

.our-services-heading-text {
    display: inline;
    float: left;
    font-size: 24px;
    font-weight: 700;
    background: -webkit-linear-gradient(348deg, #000000 15%, #FC66BD 24%, #FFC5E3 22%, #000000 30%, #000000 40%, #28E5FF 46%, #0064DA 50%, #000000 50%, #000000 68%, #FF31A1 78%, #000000 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding-top: 5px;
}

.our-services-heading-text-list {
    margin: 0;
    padding: 0;
    height: 160px;
    text-align: left;
    list-style: none;
    animation: change 10s infinite;
}

.our-services-heading-text-list-item {
    font-size: 24px;
    font-weight: 700;
    background: -webkit-linear-gradient(348deg, #000000 15%, #FC66BD 24%, #FFC5E3 22%, #000000 30%, #000000 40%, #28E5FF 46%, #0064DA 50%, #000000 50%, #000000 68%, #FF31A1 78%, #000000 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }
}

.our-services-right-content-item {
    padding: 20px;
}

.our-services-right-content-item-heading h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans';
}

.insights {
    background-color: #262b3f;
}

.insights-heading {
    width: max-content;
    margin: 0 auto;
}

.insights-heading h2 {
    font-size: 30px;
    font-family: 'Plus Jakarta Sans';
    color: #ffffff;
    font-weight: 500;
    text-transform: capitalize;
    padding-top: 30px;
}

.insights-slider {
    padding: 20px;
}

.slider-container {
    overflow-x: auto;
    display: flex;
    gap: 50px;
    scroll-behavior: smooth;
}

.slider-container::-webkit-scrollbar {
    height: 10px;
}

.slider-container::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 5px;
}

.slider-container::-webkit-scrollbar-track {
    background-color: #333333;
}

.card {
    flex: 0 0 auto;
    width: 250px;
    overflow: hidden;
    margin-bottom: 50px;
    border: none !important;
    border-radius: 0 !important;
}

.card-img img {
    width: 250px;
    height: 430px;
    object-fit: cover;
    transition: transform 0.6s ease, filter 0.6s ease;
}

.card-content {
    position: absolute;
    top: 10px;
    color: #ffffff;
    margin: 10px 15px;
}

.card-content-heading h2 small {
    display: block;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Plus Jakarta Sans';
    text-transform: uppercase;
    margin-bottom: 20px;
}

.card-content-heading h2 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans';
}

.card-overlay-content {
    position: absolute;
    width: 220px;
    top: 220px;
    left: 110px;
    margin: 10px 15px;
    font-family: 'Plus Jakarta Sans';
    transform: translate(-50%, -50%);
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.card-overlay-button {
    width: 10px;
    border-bottom: 2px solid #cd5725;
    position: relative;
    top: 120px;
    left: 120px;
}

.card-overlay-button a {
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
}

.card-overlay-button-flex {
    display: flex;
    align-items: center;
}

.card-overlay-button p {
    margin: 0;
}

.card-overlay-svg svg {
    width: 30px;
    height: 25px;
}

.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 1;
}

.card:hover img {
    transform: scale(3);
    filter: blur(15px);
}

.card:hover .card-overlay-content {
    opacity: 1;
}

.card:hover::after {
    opacity: 1;
}

.join-us-video {
    overflow: hidden;
}

.video-3 {
    width: 1300px;
    height: 600px;
    object-fit: fill;
    display: block;
    transform: translateX(-35%);
}

.join-us-video-content {
    position: relative;
}

.join-us-content {
    position: absolute;
    top: 0;
    width: 320px;
    height: 600px;
    padding-top: 360px;
}

.join-us-text h2 {
    font-size: 22px;
    font-family: 'Plus Jakarta Sans';
    width: max-content;
    margin: 0 auto;
    color: #ffffff;
}

.join-us-button {
    width: max-content;
    margin: 0 auto;
    margin-top: 30px;
}

.join-us-button button {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 10px 5px;
    width: 150px;
    border-radius: 5px;
}

.join-us-button a {
    text-decoration: none;
    color: #ffffff;
}

.join-us-button p {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}

.help {
    text-align: center;
}

.help-heading h2 {
    font-size: 28px;
    font-weight: 400;
    font-family: 'Plus Jakarta Sans';
    margin-bottom: 15px;
}

.help-text {
    font-size: 12px;
    font-family: 'Plus Jakarta Sans';
}

.help-button {
    width: max-content;
    margin: 0 auto;
    margin-top: 20px;
}

.help-button button {
    background-color: #262b3f;
    border: none;
    width: 230px;
    border-radius: 5px;
}

.help-button button:hover {
    background-color: #1a1b20;
}

.help-button a {
    color: #ffffff;
    text-decoration: none;
}

.help-button p {
    font-size: 14px;
    padding: 8px 10px;
    text-transform: uppercase;
}

.site-footer {
    background-color: #eff0f2;
    padding-top: 30px;
}

.top-section {
    margin-bottom: 100px;
}

.top-footer-flex {
    display: flex;
    flex-direction: column;
}

.top-flex {
    display: flex;
    flex-direction: column;
}

.top-heading-1 h2 {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans';
    text-transform: capitalize;
    margin-bottom: 10px;
}

.top-heading-2 h2 {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Plus Jakarta Sans';
    margin-bottom: 10px;
    display: none;
}

.top-list-heading h2 {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Plus Jakarta Sans';
    text-transform: capitalize;
}

.top-list ul {
    padding: 0;
}

.top-list li {
    list-style: none;
}

.top-list a {
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
}

.top-list a:hover {
    color: #cd5725;
    transition: all 0.4s ease-in-out;
}

.top-list h2 {
    font-size: 14px;
    font-weight: 600;
}

.middle-section {
    margin-bottom: 50px;
}

.middle-footer-flex {
    display: flex;
    flex-direction: column;
}

.form-header h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans';
    text-transform: capitalize;
}

.form-text p {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans';
    color: #000000;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form input[type=email] {
    width: 210px;
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
    border: 3px solid #cccccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.form input[type=email]:focus {
    border: 3px solid #555555;
}

.form input[type=submit] {
    width: 80px;
    padding: 5px 0;
}

.bottom-links a {
    font-size: 10px;
    font-family: 'Plus Jakarta Sans';
    color: #55585b;
    text-decoration: none;
    text-transform: capitalize;
}

.bottom-copyright {
    text-align: center;
    border-top: 1px solid #d7d9de;
    padding: 20px 0;
}

.social-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-link svg {
    width: 25px;
    height: 25px;
}

.copyright-text p {
    font-size: 12px;
    font-weight: 500;
    color: #828591;
    font-family: 'Plus Jakarta Sans';
    margin: 0;
    text-transform: capitalize;
    margin-top: 20px;
}

@media screen and (min-width: 768px) {

    .site-logo {
        width: 180px;
    }

    .navbar-financial::after {
        width: 3040%;
    }

    .header-navbar {
        width: 50%;
    }

    .search-icon {
        margin-right: 50px;
    }

    .video-banner-1 {
        width: 768px !important;
    }

    .video-1 {
        width: 770px;
    }

    .video-banner-2 {
        width: 768px !important;
    }

    .video-2 {
        width: 770px;
        transform: translateX(0%);
    }

    .banner-content-1 {
        top: 50px;
    }

    .banner-content-2 {
        top: 50px;
    }

    .banner-heading {
        padding-right: 300px;
    }

    .banner-heading h2 {
        font-size: 60px;
    }

    .banner-text p {
        font-size: 16px;
    }

    .banner-2-text p {
        font-size: 16px;
        padding-right: 380px;
    }

    .content-right-flex {
        flex-direction: row;
        justify-content: space-between;
    }

    .right-content {
        width: 190px;
        height: 200px;
        margin: 0 20px;
    }

    .slider-container {
        gap: 78px;
    }

    .brands-text {
        font-size: 30px;
    }

    .video-3 {
        width: 770px;
        transform: translateX(0%);
    }

    .join-us-content {
        width: 768px;
    }

    .help-heading h2 {
        font-size: 40px;
    }

    .help-text {
        font-size: 16px;
    }

    .help-button button {
        width: 210px;
    }
}

@media screen and (min-width: 992px) {

    .site-logo {
        width: 120px;
        margin: 0;
    }

    .navbar-financial::after {
        width: 3000%;
    }

    .header-toggler {
        display: none;
    }

    .header-flex {
        justify-content: flex-start;
    }

    .header-navbar {
        position: static;
        width: auto;
        height: auto;
        overflow: inherit;
        background-color: transparent;
        margin: 0 10px;
    }

    .header-navbar ul li a {
        color: #ffffff;
        font-size: 14px;
        text-decoration: none;
    }

    .header-navbar ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .header-navbar li {
        margin: 0 10px;
        border-bottom: none;
    }

    .header-navbar li p {
        margin: 10px 0;
    }

    .services-content {
        position: absolute;
        top: 100%;
        left: -185px;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        width: 1025px;
        height: 500px;
        display: none;
        box-shadow: 0 4px 8px #00000033;
        z-index: 100;
    }

    .tab:hover .services-content {
        display: block;
        overflow: scroll;
    }

    .header-text-arrow-flex {
        display: flex;
        align-items: center;
    }

    .header-flex-text {
        font-size: 14px;
        font-weight: 600;
    }

    .header-flex-svg {
        margin-left: 10px;
    }

    .header-flex-svg svg {
        width: 10px;
        height: 10px;
    }

    .services-content-flex {
        display: flex;
    }

    .services-content-item {
        width: 205px;
        margin: 0;
        padding: 20px;
        background-color: #f0f0f0;
        margin: 0 45px;
    }

    .services-content-item-heading h2 {
        font-size: 22px;
        font-weight: 700;
        color: #000000;
    }

    .services-text {
        font-size: 16px;
        font-weight: 500;
    }

    .button-svg {
        height: 25px;
        margin-left: 5px;
    }

    .button-svg svg {
        width: 20px;
        height: 20px;
    }

    .services-button:hover {
        width: 120px;
        border-bottom: none;
    }

    .services-button ::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        left: 0px;
        bottom: -3px;
        background-color: #f26223;
        transition: all 0.4s ease-in-out;
    }

    .services-button svg:hover {
        transform: rotate(45deg) scale(1.5);
        transition: transform 0.3s linear;
    }

    .services-content-item-body {
        width: 300px;
        padding: 20px;
        margin-right: 45px;
    }

    .services-content-item-body-flex {
        display: flex;
        align-items: center;
    }

    .services-content-item-list ::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        left: 0px;
        bottom: -3px;
        background-color: #f26223;
        transition: all 0.4s ease-in-out;
    }

    .services-content-item-list li p {
        font-size: 12px;
        margin-bottom: 0;
    }

    .services-content-item-body-flex {
        margin-bottom: 10px;
    }

    .arrow-wrapper {
        width: 60px;
        height: 10px;
        transition: transform 0.4s ease;
        cursor: pointer;
    }

    .arrow-wrapper svg {
        width: 20px;
        height: 20px;
    }

    .arrow-wrapper:hover {
        transform: translateX(6px);
        /* Moves entire arrow to the right */
    }

    svg path.arrow-line {
        transition: d 0.4s ease;
    }

    .arrow-wrapper:hover svg path.arrow-line {
        d: path("M6 12H22M22 12L17 7M22 12L17 17");
        /* Push shaft and arrowhead */
    }

    .services-content-item-body-heading h2 {
        font-size: 18px;
        color: #000000;
    }

    .services-content-item-body-heading h2:hover {
        color: #f26223;
        transition: 0.4s ease;
    }

    .services-content-item-body ul {
        display: flex;
        flex-direction: column;
    }

    .services-content-item-body ul li {
        padding: 0 3px;
        margin: 0;
    }

    .services-content-item-body ul li a {
        color: #000000;
        font-size: 10px;
    }

    .industry-content {
        position: absolute;
        top: 100%;
        left: -280px;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        width: 1020px;
        display: none;
        box-shadow: 0 4px 8px #00000033;
        z-index: 100;
    }

    .tab:hover .industry-content {
        display: block;
    }

    .industry-content-flex {
        display: flex;
        flex-direction: row;
        height: 600px;
    }

    .industry-content-item {
        width: 320px;
        padding: 20px;
        background-color: #f0f0f0;
        margin: 0 45px;
    }

    .industry-content-item-heading h2 {
        font-size: 22px;
        font-weight: 700;
        color: #000000;
    }

    .industry-text {
        font-size: 16px;
        font-weight: 600;
    }

    .industry-button:hover {
        width: 120px;
        border-bottom: none;
    }

    .industry-button ::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        left: 0px;
        bottom: -3px;
        background-color: #f26223;
        transition: all 0.4s ease-in-out;
    }

    .industry-button svg:hover {
        transform: rotate(45deg) scale(1.5);
        transition: transform 0.3s linear;
    }

    .industry-content-item-body {
        width: 300px;
        padding: 20px;
        margin-right: 10px;
    }

    .industry-content-item-body-heading {
        margin-bottom: 30px;
    }

    .industry-content-item-body-heading h2 {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
    }

    .industry-content-item-body-heading h2:hover {
        color: #f26223;
        transition: 0.4s ease;
    }

    .industry-content-item-body ul {
        display: flex;
        flex-direction: column;
    }

    .industry-content-item-body ul li {
        padding: 0 3px;
    }

    .industry-content-item-body ul li a {
        color: #000000;
        font-size: 10px;
    }

    .insights-content {
        position: absolute;
        top: 100%;
        left: -390px;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        width: 1030px;
        display: none;
        box-shadow: 0 4px 8px #00000033;
        z-index: 100;
    }

    .tab:hover .insights-content {
        display: block;
    }

    .insights-content-flex {
        display: flex;
        flex-direction: row;
        height: 600px;
    }

    .insights-content-item {
        width: 320px;
        padding: 20px;
        background-color: #f0f0f0;
        margin: 0 45px;
    }

    .insights-content-item-heading h2 {
        font-size: 22px;
        font-weight: 700;
        color: #000000;
    }

    .insights-text {
        font-size: 16px;
        font-weight: 600;
    }

    .insights-button:hover {
        width: 120px;
        border-bottom: none;
    }

    .insights-button ::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        left: 0px;
        bottom: -3px;
        background-color: #f26223;
        transition: all 0.4s ease-in-out;
    }

    .insights-button svg:hover {
        transform: rotate(45deg) scale(1.5);
        transition: transform 0.3s linear;
    }

    .insights-content-item-body {
        width: 300px;
        padding: 20px;
        margin-right: 10px;
    }

    .insights-content-item-body-heading {
        margin-bottom: 30px;
    }

    .insights-content-item-body-heading h2 {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
    }

    .insights-content-item-body-heading h2:hover {
        color: #f26223;
        transition: 0.4s ease;
    }

    .insights-content-item-body ul {
        display: flex;
        flex-direction: column;
    }

    .insights-content-item-body ul li {
        padding: 0 3px;
    }

    .insights-content-item-body ul li a {
        color: #000000;
        font-size: 10px;
    }

    .about-content {
        position: absolute;
        top: 100%;
        left: -480px;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        width: 1020px;
        display: none;
        box-shadow: 0 4px 8px #00000033;
        z-index: 100;
    }

    .tab:hover .about-content {
        display: block;
    }

    .about-content-flex {
        display: flex;
    }

    .about-content-item-body {
        width: 300px;
        padding: 20px;
        margin-right: 10px;
    }

    .about-content-item-body-heading {
        margin-bottom: 30px;
    }

    .about-content-item-body-heading h2 {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
    }

    .about-content-item-body-heading h2:hover {
        color: #f26223;
        transition: 0.4s ease;
    }

    .about-content-item-body ul {
        display: flex;
        flex-direction: column;
    }

    .about-content-item-body ul li {
        padding: 0 3px;
        margin: 0;
    }

    .about-content-item-body ul li a {
        color: #000000;
        font-size: 14px;
    }

    .about-content-item-list ::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        left: 0px;
        bottom: -3px;
        background-color: #f26223;
        transition: all 0.4s ease-in-out;
    }

    .second-navbar {
        display: block;
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        margin: 0 10px;
        margin-left: 130px;
    }

    .second-navbar p {
        margin-bottom: 0;
    }

    .second-navbar ul li a {
        color: #ffffff;
        font-size: 14px;
        text-decoration: none;
    }

    .second-navbar ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .second-navbar li {
        margin: 0 10px;
        border-bottom: none;
    }

    .investors-content {
        position: absolute;
        top: 100%;
        left: -655px;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        width: 1020px;
        display: none;
        box-shadow: 0 4px 8px #00000033;
        z-index: 100;
    }

    .tab:hover .investors-content {
        display: block;
    }

    .investors-content-flex {
        display: flex;
        flex-direction: row;
    }

    .investors-content-item {
        width: 320px;
        padding: 20px;
        background-color: #f0f0f0;
        margin: 0 45px;
    }

    .investors-content-item-heading h2 {
        font-size: 22px;
        font-weight: 700;
        color: #000000;
    }

    .investors-text {
        font-size: 16px;
        font-weight: 600;
    }

    .investors-button:hover {
        width: 120px;
        border-bottom: none;
    }

    .investors-button ::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        left: 0px;
        bottom: -3px;
        background-color: #f26223;
        transition: all 0.4s ease-in-out;
    }

    .investors-button svg:hover {
        transform: rotate(45deg) scale(1.5);
        transition: transform 0.3s linear;
    }

    .investors-content-item-body {
        width: 310px;
        padding: 20px;
        margin-right: 10px;
    }

    .investors-content-item-body-heading {
        margin-bottom: 30px;
    }

    .investors-content-item-body-heading h2 {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
    }

    .investors-content-item-body-heading h2:hover {
        color: #f26223;
        transition: 0.4s ease;
    }

    .investors-content-item-body ul {
        display: flex;
        flex-direction: column;
    }

    .investors-content-item-body ul li {
        padding: 0 3px;
    }

    .investors-content-item-body ul li a {
        color: #000000;
        font-size: 10px;
    }

    .search-icon {
        margin: 0 10px;
        height: 50px;
    }

    .search-icon svg {
        height: 50px;
    }

    .video-banner-1 {
        width: 1024px !important;
    }

    .video-1 {
        width: 1024px;
    }

    .video-banner-2 {
        width: 1024px !important;
    }

    .video-2 {
        width: 1024px;
    }

    .banner-content {
        padding-left: 40px;
    }

    .banner-heading {
        padding-right: 460px;
    }

    .banner-heading h2 {
        font-size: 70px;
    }

    .banner-2-text p {
        font-size: 16px;
        padding-right: 610px;
    }

    .slider-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }

    .card {
        margin: 0 20px;
        margin-bottom: 30px;
    }

    .success-flex {
        flex-direction: row;
    }

    .success-content-left {
        width: 650px;
        padding: 10px 20px;
    }

    .content-left-heading h2 {
        font-size: 40px;
    }

    .content-left-text {
        font-size: 15px;
    }

    .success-content-right {
        margin-top: 0px;
        position: relative;
        border-left: solid 1px #e1e1e1;
    }

    .success-content-right::before {
        content: "";
        width: 15px;
        height: 15px;
        border: solid #e1e1e1;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        background-color: white;
        position: absolute;
        left: -8px;
        top: 40px;
    }

    .right-content {
        width: 160px;
        height: 180px;
        margin: 0;
    }

    .right-content-text {
        font-size: 12px;
    }

    .brands-text {
        margin-bottom: 50px;
    }

    .video-3 {
        width: 1024px;
        transform: translateX(0%);
    }

    .join-us-content {
        width: 1024px;
    }

    .join-us-text h2 {
        font-size: 40px;
    }

    .help-heading h2 {
        font-size: 50px;
    }

    .help-text {
        font-size: 18px;
    }

    .help-button button {
        width: 240px;
    }

    .top-footer-flex {
        justify-content: space-around;
        flex-direction: row;
    }

    .top-flex {
        flex-direction: row;
    }

    .top-heading-2 h2 {
        display: block;
        visibility: hidden;

    }

    .middle-footer-flex {
        flex-direction: row;
        justify-content: space-between;
    }

    .form-header h2 {
        font-size: 26px;
    }

    .form-text p {
        font-size: 14px;
    }

    .form input[type=email] {
        width: 340px;
    }

    .form input[type=submit] {
        width: 90px;
        margin-left: 20px;
        padding: 7px 0;
        background-color: transparent;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
    }

    .footer-social-links {
        padding-top: 70px;
    }

    .social-flex {
        width: 250px;
    }

    .social-link svg {
        width: 30px;
        height: 30px;
    }

    .bottom-section {
        border-top: 1px solid #d7d9de;
    }

    .bottom-footer-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 450px;
    }

    .bottom-links p {
        margin: 0;
    }

    .bottom-links a {
        font-size: 14px;
    }

    .bottom-copyright {
        border: none;
    }

    .copyright-text p {
        font-size: 14px;
        margin: 0;
    }
}

@media (max-width: 992px) {

    .hero-title {
        transform: none !important;
    }
}

@media screen and (min-width: 1280px) {

    .header-flex {
        padding-top: 30px;
    }

    .site-logo {
        width: 120px;
    }

    .header-navbar ul li a {
        font-size: 16px;
    }

    .second-navbar ul li a {
        font-size: 16px;
    }

    .services-content {
        left: -220px;
        width: 1290px;
    }

    .services-content-item {
        width: 350px;
    }

    .services-content-item-heading h2 {
        font-size: 22px;
    }

    .services-content-item-list li p {
        font-size: 14px;
    }

    .industry-content-flex {
        height: 350px;
    }

    .industry-content {
        left: -320px;
        width: 1280px;
        height: 350px;
    }

    .industry-content-item {
        width: 370px;
    }

    .industry-content-item-heading h2 {
        font-size: 24px;
    }

    .industry-content-item-body {
        height: 349px;
        padding-top: 30px;
    }

    .industry-content-flex {
        height: 350px;
    }

    .insights-content {
        left: -425px;
        width: 1280px;
        height: 350px;
    }

    .insights-content-item {
        width: 350px;
        height: 350px;
    }

    .insights-content-item-heading h2 {
        font-size: 24px;
    }

    .insights-content-item-body {
        height: 350px;
        padding-top: 30px;
    }

    .about-content {
        left: -520px;
        width: 1280px;
        height: 350px;
    }

    .about-content-item-body {
        width: 340px;
        padding-top: 50px;
        margin: 0;
        margin-left: 100px;
    }

    .about-content-item-body ul li {
        height: 35px;
    }

    .investors-content {
        left: -820px;
        width: 1280px;
    }

    .investors-content-item {
        width: 350px;
        height: 600px;
    }

    .investors-content-item-heading h2 {
        font-size: 24px;
        padding-left: 30px;
    }

    .investors-text {
        font-size: 16px;
        font-weight: 500;
        padding-left: 30px;
    }

    .investors-button {
        margin-left: 30px;
    }

    .investors-content-item-body {
        padding-top: 30px;
    }

    .second-navbar {
        margin-left: 200px;
    }

    .second-navbar li {
        margin: 0 15px;
    }

    .header-globe {
        margin-left: 15px;
    }

    .our-services {
        padding-top: 150px;
    }

    .our-services-heading {
        height: 100px;
    }

    .our-services-img-1 {
        display: block;
    }

    .our-services-img-1 img {
        position: absolute;
        top: -70px;
        left: 0;
        width: 200px;
        height: 150px;
        transition: transform 2s;
        object-fit: cover;
        transform: scale(0);
        opacity: 0;
        transition: transform 0.6s ease, opacity 0.6s ease;
    }

    .our-services-heading-content:hover .our-services-img-1 img {
        width: 200px;
        height: 150px;
        transform: scale(1);
        opacity: 1;
    }

    .our-services-img-2 {
        display: block;
    }

    .our-services-img-2 img {
        position: absolute;
        top: 0;
        left: -75px;
        width: 200px;
        height: 150px;
        transition: width 2s, height 2s, transform 2s;
        transform-origin: left;
        transform: rotate(-180deg);
    }

    .our-services-heading-content:hover .our-services-img-2 img {
        position: absolute;
        top: 100px;
        left: -75px;
        width: 200px;
        height: 150px;
        transform: rotate(-10deg);
    }

    .our-services-img-3 {
        display: block;
    }

    .our-services-img-3 img {
        position: absolute;
        top: -70px;
        left: 900px;
        width: 200px;
        height: 150px;
        transition: transform 2s;
        object-fit: cover;
        transform: scale(0);
        opacity: 0;
        transition: transform 0.6s ease, opacity 0.6s ease;
    }

    .our-services-heading-content:hover .our-services-img-3 img {
        width: 200px;
        height: 150px;
        transform: scale(1);
        opacity: 1;
    }

    .our-services-img-4 {
        display: block;
    }

    .our-services-img-4 img {
        position: absolute;
        top: 150px;
        left: 990px;
        width: 200px;
        height: 150px;
        transition: width 2s, height 2s, transform 2s;
        transform-origin: right;
        transform: rotate(180deg);
    }

    .our-services-heading-content:hover .our-services-img-4 img {
        position: absolute;
        top: 150px;
        left: 980px;
        width: 200px;
        height: 150px;
        transform: rotate(10deg);
    }

    .disable {
        display: none;
    }

    .video-banner-1 {
        width: 1265px !important;
        height: 590px !important;
    }

    .video-1 {
        width: 1265px !important;
        height: 590px;
    }

    .video-banner-2 {
        width: 1265px !important;
        height: 590px !important;
    }

    .video-2 {
        width: 1265px !important;
        height: 590px;
    }

    .banner-heading {
        padding-right: 540px;
    }

    .banner-heading h2 {
        font-size: 80px;
    }

    .banner-text p {
        font-size: 24px;
    }

    .banner-2-text p {
        font-size: 24px;
        padding-right: 660px;
    }

    .banner-button button {
        padding: 10px 30px;
        width: 185px;
    }

    .banner-button p {
        font-size: 14px;
    }

    .banner-button button:hover {
        background-color: #222636;
        border: solid 1px #ffffff;
        transform: scale(1.1);
        /* expand outward */
        box-shadow: 0 8px 20px #00000033;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        opacity: 0.9;
    }

    .banner-button a:hover {
        color: #ffffff;
    }

    .our-services-content {
        margin-top: 200px;
    }

    .our-services-flex {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .our-services-left-content {
        margin-left: 100px;
    }

    .our-services-heading-content-container {
        width: 230px;
    }

    .our-services-heading-text {
        font-size: 20px;
    }

    .our-services-heading-text-list-item {
        font-size: 20px;
    }

    .our-services-right-content {
        text-align: left;
        padding: 0 150px;
    }

    .card-overlay-button-flex {
        margin: 0 !important;
    }

    .insights-heading h2 {
        padding: 30px 0;
        padding-top: 50px;
    }

    .card {
        margin: 30px;
    }

    .card-overlay-button {
        width: 50px;
        border: none;
    }

    .card-overlay-button ::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        left: 0px;
        bottom: -3px;
        background-color: #f26223;
        transition: all 0.4s ease-in-out;
    }

    .success-content-left {
        width: 850px;
        padding-right: 100px;
    }

    .content-left-heading h2 {
        font-size: 46px;
    }

    .success-content-right {
        padding-left: 100px;
    }

    .right-content {
        width: 190px;
    }

    .right-content-heading h2 {
        font-size: 56px;
    }

    .right-content-text {
        font-size: 14px;
    }

    .brands-text {
        margin: 0 50px;
        margin-bottom: 100px;
        font-size: 32px;
    }

    .video-3 {
        width: 1265px;
        transform: translateX(0%);
    }

    .join-us-content {
        width: 1260px;
    }

    .join-us-text h2 {
        font-size: 46px;
    }

    .join-us-button button {
        padding: 10px 30px;
        width: 185px;
    }

    .join-us-button p {
        font-size: 14px;
    }

    .join-us-button button:hover {
        background-color: #222636;
        border: solid 1px #ffffff;
        transform: scale(1.1);
        /* expand outward */
        box-shadow: 0 8px 20px #00000033;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        opacity: 0.9;
    }

    .help-heading h2 {
        font-size: 56px;
    }

    .help-text {
        font-size: 20px;
    }

    .help-button button {
        width: 260px;
    }

    .help-button button:hover {
        background-color: #222636;
        transform: scale(1.1);
        /* expand outward */
        box-shadow: 0 8px 20px #00000033;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .help-button p {
        font-size: 16px;
    }

    .top-heading-1 h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .top-heading-2 h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .top-left-section {
        width: 230px;
    }

    .top-right-section {
        width: 230px;
    }

    .top-list h2 {
        font-size: 16px;
        font-weight: 700;
    }

    .top-list a {
        font-size: 16px;
    }

    .top-list p {
        margin: 0;
    }

    .form input[type=submit]:hover {
        border: none;
        background-color: black;
        color: #ffffff;
    }

    .social-link svg:hover {
        fill: #000000;
        transition: 0.4s ease;
    }

    .social-link svg:hover .bg-rect {
        fill: #000000;
        transition: 0.4s ease;
    }

    .social-link:hover svg rect {
        fill: #000000;
        transition: fill 0.3s ease;
    }

    .svg-hover-circle {
        width: 64px;
        height: 64px;
        background-color: #b2b5bf;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

    .svg-hover-circle:hover {
        background-color: #000000;
    }

    .svg-hover-circle svg {
        width: 32px;
        height: 32px;
    }

    .bottom-links a:hover {
        color: #000000;
        transition: 0.4s ease;
    }
}